* {
  box-sizing: border-box;
}

body {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #111;
}

#board {
  max-width: 600px;
  height: 800px;
  background: #444;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 21px;
  height: 21px;
  margin: 2px;
  background: #1d1d1d;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition: 0s;
}